.logoutbutton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:transparent;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;

	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
    border:none;
}
.logoutbutton:hover {
	background-color:transparent;
}
.logoutbutton:active {
	position:relative;
	top:1px;
}

        